* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

ul {
    font-size: 20px;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    gap: 50px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    list-style-type: none;
}

.photo {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
}

.para {
    position: absolute;
    top: 40%;
    left: 12%;
    width: 32%;
    background: #d86d5a;
    color: white;
    padding: 35px;
    opacity: 0.8;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.heading {
    padding-bottom: 70px;
    font-size: 50px;
}

.box {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background-image: linear-gradient(to right, rgb(239 71 200), #caca55);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    width: 100vw;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 265px;
    height: 260px;
    border-top-right-radius: 56px;
}

.item {
    padding-top: 0px;
    margin: 5px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-right-radius: 56px;
    border-bottom-left-radius: 56px;
    gap: 10px;
}

.head {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: black;
}

.text {
    width: 80%;
    height: fit-content;
    text-align: center;
    color: black;
}

button {
    margin: 70px 0;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    opacity: 0.8;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* Media Queries for Responsive Design */
@media (max-width: 880px) {
    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    li {
        border-bottom: 2px solid #000000;
    }

    h1 {
        margin-top: 30px;
    }
}